body {
    background-color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    min-width: 900px;
}

.serv, .currentServ {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 1000;
    display: flex;
    float: right;
    padding: 37px;
}

.serv:hover, .currentServ {
    background-color: red;
}

.navbar {
    padding: 5px;
    padding-left: 30px;
    background-color: #7a7a7a41;
}

.brand {
    border: solid red 5px;
    display: inline-flex;
    background-color: #7a7a7a41;
    padding: 10px;
}

.channel {
    text-align: center;
    border: 5px solid black;
    background-color: #ff5c56;
    padding: 15px;
    height: 320px;
    float: inline-start;
}

.channelogo {
    margin-top: 10px;
    border: 5px solid black;
    border-radius: 50px;
    height: 200px;
}

.channeltitle {
    font-weight: 5000;
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: #ff3d37;
    color: #dfdfdf;
    border-radius: 5px;
    text-align: center;
}

.pageDetails {
    height: 320px;
    border: 5px solid black;
    background-color: #569cff;
    padding: 15px;
}

.detailsText {
    text-align: center;
    font-size: 50px;
}

.gameStore {
    border-radius: 5px;
    padding: 15px;
    background-color: #2982ff;
    color: white;
}

.pdhr {
    border: 3px solid black;
}

.pageDesc {
    text-align: center;
    font-weight: 600;
    padding-top: 15px;
    color: #ffffff;
}

.introhr {
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 50px;
}

.game {
    background-color: #dfdfdf;
    border-radius: 20px;
}

.logo {
    border: 5px solid black;
    border-radius: 20px;
    height: 300px;
}

.gameTitle {
    text-decoration: none;
    display: flex;
    padding-left: 100px;
    font-size: 100px;
    align-items: self-end;
    margin-top: 5px;
    font-weight: 200;
}

.gameLink {
    display: flex;
    text-decoration: none;
    color: #000000;
}
