body {
    background-color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    min-width: 900px;
}

.navbar {
    padding: 5px;
    padding-left: 30px;
    background-color: #7a7a7a41;
}

.brand {
    border: solid red 5px;
    display: inline-flex;
    background-color: #7a7a7a41;
    padding: 10px;
}

.serv {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 1000;
    display: flex;
    float: right;
    padding: 37px;
}

.serv:hover {
    background-color: red;
}

.downtext {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 20px;
}

.os {
    display: flex;
    background-color: #ffffff1d;
    height: 70px;
}

.gameHeading {
    text-align: center;
}

.gameLogo {
    border: 5px solid black;
    border-radius: 20px;
    height: 200px;
}

.gameTitle {
    color: #FFFFFF;
    font-size: 70px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 200;
}

.desc {
    margin-bottom: 50px;
    color: #ffffff9e;
}

.division {
    border: 5px solid white;
    margin-bottom: 50px;
}

.dl {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    padding: 20px;
    background-color: #b66e22;
    font-size: 20px;
    border-radius: 50px;
}

.dl:hover {
    animation-name: animation;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

@keyframes animation {
    100% {
        box-shadow: 3px 2px 30px 10px rgba(255, 30, 0, 0.704);
        border: solid #000000 5px;
        background-color: #ef922e;
    }
}

table, tr, th, td, .downloadBtn {
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
}

th {
    padding: 10px;
}

.details {
    padding: 30px;
}

table {
    margin-top: 50px;
    width: 100%;
    background-color: #102610;
}

.download a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 15px;
    border: solid #000000 5px;
    background-color: #4ebf638b;
    border-radius: 50px;
}

.download a:hover {
    animation-name: glow;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes glow {
    100% {
        box-shadow: 2px 2px 20px 5px red;  
    }
}